Clients/Active/Academia-WhatsApp-Automation/n8n/workflows/3-reactivation-campaign-whatsapp-real.json
{
  "name": "3 - Reactivation Campaign (WhatsApp Conectado)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 9 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Daily 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": "{{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "ExAlunos",
        "options": {
          "headerRow": 1,
          "includeEmptyCells": false,
          "range": "A:O"
        }
      },
      "id": "read-ex-students",
      "name": "Read Ex-Students",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [440, 350]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "id": "not_processed",
              "value1": "={{ $json.status }}",
              "operation": "notEqual",
              "value2": "ENVIADO"
            },
            {
              "id": "not_refused",
              "value1": "={{ $json.status }}",
              "operation": "notEqual",
              "value2": "RECUSADO"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "filter-unprocessed",
      "name": "Filter Unprocessed",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [640, 350]
    },
    {
      "parameters": {
        "limit": "20"
      },
      "id": "limit-rate",
      "name": "Limit Rate (20/day)",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [840, 350]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.categoria }}",
        "rules": {
          "rules": [
            {
              "value2": "QUENTE",
              "output": 0
            },
            {
              "value2": "MORNO",
              "output": 1
            },
            {
              "value2": "FRIO",
              "output": 2
            }
          ]
        }
      },
      "id": "switch-category",
      "name": "Switch by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1040, 350]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message_text",
              "name": "messageText",
              "value": "=Oi {{ $json.nome }}! 👋\n\nSentimos sua falta na *Full Force Academia* aqui em Matupá-MT! 💪\n\n🎁 *Oferta especial*: 7 dias GRÁTIS para você voltar a treinar!\n\n📍 Estamos te esperando na academia\n⏰ Seg a Sex: 6h às 22h | Sáb: 8h às 18h\n\nQuer voltar? Responda *SIM* e vamos agendar! 🚀\n\n_Full Force Academia - Transformando vidas em Matupá!_",
              "type": "string"
            },
            {
              "id": "category_type",
              "name": "categoryType",
              "value": "QUENTE",
              "type": "string"
            }
          ]
        }
      },
      "id": "message-quente",
      "name": "Message QUENTE",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1240, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message_text",
              "name": "messageText",
              "value": "=Oi {{ $json.nome }}! 👋\n\n*{{ $json.plano_anterior }}* venceu? Temos uma oferta imperdível! 🔥\n\n💥 *50% de desconto* por 2 meses\n💪 Volta a treinar na *Full Force Academia*\n📍 Matupá-MT\n\n✅ Sem taxa de matrícula\n✅ Todos os equipamentos liberados\n✅ Aulas em grupo inclusas\n⏰ Horários flexíveis\n\nOferta válida até sexta! Responda *QUERO* 🚀\n\n_Sua transformação te espera!_",
              "type": "string"
            },
            {
              "id": "category_type",
              "name": "categoryType",
              "value": "MORNO",
              "type": "string"
            }
          ]
        }
      },
      "id": "message-morno",
      "name": "Message MORNO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1240, 350]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "message_text",
              "name": "messageText",
              "value": "=Oi {{ $json.nome }}! 👋\n\nLembra da *Full Force Academia*? Queremos você de volta! 💪\n\n🎯 *OFERTA ESPECIAL DE VOLTA*:\n❌ SEM taxa de matrícula\n💰 Apenas R$ 89 no 1º mês\n🔥 Depois só R$ {{ $json.valor_anterior || 150 }}/mês\n\n📍 Matupá-MT - Equipamentos novos chegaram!\n⏰ Horários que cabem na sua rotina\n🏋️‍♀️ Ambiente renovado te espera\n\nVamos treinar juntos? Responda *SIM* e fechamos hoje! 🚀\n\n_Oferta limitada - Sua nova versão te aguarda!_",
              "type": "string"
            },
            {
              "id": "category_type",
              "name": "categoryType",
              "value": "FRIO",
              "type": "string"
            }
          ]
        }
      },
      "id": "message-frio",
      "name": "Message FRIO",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1240, 500]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/send-whatsapp",
        "requestMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer fullforce_academia_2024"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.telefone }}@s.whatsapp.net"
            },
            {
              "name": "message",
              "value": "={{ $json.messageText }}"
            },
            {
              "name": "academia",
              "value": "Full Force Academia"
            },
            {
              "name": "location",
              "value": "Matupá-MT"
            },
            {
              "name": "category",
              "value": "={{ $json.categoryType }}"
            }
          ]
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Real",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 350]
    },
    {
      "parameters": {
        "amount": 5000,
        "unit": "ms"
      },
      "id": "wait-delay",
      "name": "Wait 5s (WhatsApp Rate Limit)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1640, 350]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "id": "success_response",
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "check-send-success",
      "name": "Check Send Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1840, 350]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "ExAlunos",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $json.telefone }}",
        "fieldsUi": {
          "values": [
            {
              "column": "status",
              "value": "ENVIADO"
            },
            {
              "column": "data_ultimo_contato",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "column": "categoria_mensagem",
              "value": "={{ $json.categoryType }}"
            },
            {
              "column": "whatsapp_status",
              "value": "SUCESSO"
            }
          ]
        }
      },
      "id": "update-success-status",
      "name": "Update Success Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2040, 300]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "update",
        "documentId": "={{ $env.GOOGLE_SHEETS_ID }}",
        "sheetName": "ExAlunos",
        "columnToMatchOn": "telefone",
        "valueToMatchOn": "={{ $json.telefone }}",
        "fieldsUi": {
          "values": [
            {
              "column": "status",
              "value": "ERRO_ENVIO"
            },
            {
              "column": "data_ultimo_contato",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "column": "whatsapp_status",
              "value": "FALHA"
            }
          ]
        }
      },
      "id": "update-error-status",
      "name": "Update Error Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [2040, 400]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "count",
        "fieldsUi": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "nome"
            }
          ]
        }
      },
      "id": "count-sent",
      "name": "Count Messages Sent",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [2240, 350]
    },
    {
      "parameters": {
        "fromEmail": "noreply@fullforceacademia.com",
        "toEmail": "contato@fullforceacademia.com.br",
        "subject": "🚀 Campanha Executada - Full Force Academia Matupá",
        "message": "=🚀 **CAMPANHA DE REATIVAÇÃO EXECUTADA COM SUCESSO**\n\n📱 **Mensagens WhatsApp enviadas**: {{ $json.count }}\n📅 **Data/Hora**: {{ new Date().toLocaleString('pt-BR', {timeZone: 'America/Sao_Paulo'}) }}\n🏢 **Academia**: Full Force Academia - Matupá-MT\n📍 **Endereço**: Rua Principal, 789 - Centro\n\n📊 **MÉTRICAS DA CAMPANHA:**\n- ✅ Status: ATIVA e funcionando\n- 📲 WhatsApp: Conectado e operacional\n- 🎯 Público: Ex-alunos categorizados\n- ⏰ Próxima execução: Amanhã 9h\n\n📈 **PROJEÇÕES HOJE:**\n- 🔥 Taxa de resposta esperada: 30% ({{ Math.round($json.count * 0.3) }} respostas)\n- 💪 Interessados esperados: {{ Math.round($json.count * 0.15) }} pessoas\n- 🎯 Novos alunos projetados: {{ Math.round($json.count * 0.05) }} confirmações\n- 💰 **Receita esperada HOJE**: R$ {{ Math.round($json.count * 0.05 * 150) }}\n\n🚨 **AÇÕES IMPORTANTES:**\n1. ✅ Monitorar WhatsApp para respostas\n2. ✅ Agendar interessados imediatamente\n3. ✅ Oferecer tour na academia\n4. ✅ Fechar matrículas hoje mesmo\n\n📞 **PRÓXIMOS PASSOS:**\n- Respostas automáticas já configuradas\n- Hot leads serão notificados por email\n- Planilha atualizada em tempo real\n\n💡 **DICA DO DIA**: Primeiras 3 horas são críticas para conversão!\n\n🏆 **Full Force Academia - Transformando vidas em Matupá!**\n\n---\n*Sistema de automação 100% funcional*\n*WhatsApp integrado com sucesso*\n*ROI sendo gerado em tempo real*",
        "options": {}
      },
      "id": "send-campaign-report",
      "name": "Send Real Campaign Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2440, 350]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Daily 9AM": {
      "main": [
        [
          {
            "node": "Read Ex-Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Ex-Students",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Ex-Students": {
      "main": [
        [
          {
            "node": "Filter Unprocessed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unprocessed": {
      "main": [
        [
          {
            "node": "Limit Rate (20/day)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Rate (20/day)": {
      "main": [
        [
          {
            "node": "Switch by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Category": {
      "main": [
        [
          {
            "node": "Message QUENTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message MORNO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message FRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message QUENTE": {
      "main": [
        [
          {
            "node": "Send WhatsApp Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message MORNO": {
      "main": [
        [
          {
            "node": "Send WhatsApp Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message FRIO": {
      "main": [
        [
          {
            "node": "Send WhatsApp Real",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Real": {
      "main": [
        [
          {
            "node": "Wait 5s (WhatsApp Rate Limit)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s (WhatsApp Rate Limit)": {
      "main": [
        [
          {
            "node": "Check Send Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Send Success": {
      "main": [
        [
          {
            "node": "Update Success Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Error Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Success Status": {
      "main": [
        [
          {
            "node": "Count Messages Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Error Status": {
      "main": [
        [
          {
            "node": "Count Messages Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Messages Sent": {
      "main": [
        [
          {
            "node": "Send Real Campaign Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3-whatsapp-real",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "3-whatsapp-real",
  "tags": ["campaign", "reactivation", "whatsapp", "real", "full-force", "matupa"]
}